*{
    padding: 0;
    margin: 0;
}   
/* هان الصورة للصفحة كلها  */

body{ 
    background-image: url(pic/back-ground1.png);
    /* height: 5310px; */
    /* background-size: cover; */
    position: relative;
    height: 5100px;
}  

/*  taksia هان اللوغو تبع  */

.header .title-header{ 
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 47px;
    font-family: cursive;
    font-weight: bold;
    text-transform: capitalize;
    color: #525FFB;
}  
/*  try هان الزر تبع   */

.header button { 
    float: right; 
    margin-top: 20px;
    margin-right: 30px; 
    width: 147px;
    height: 58px;
    border: solid 2px #525FFB;
    border-radius: 100px; 
    color: #525FFB;
    font-size: 20px;
    background-color:transparent;
    cursor: pointer; 
    outline: none;
}
.header button:hover{
    background-color: #525FFB;
    color: #EAF0FB;
}

/*   هان الصورة الاولى   */

.header .image-header {
    width: 786px;
    height: 770px;
    margin-left: 730px;
} 
 
/* هان المحتوى تبع الهيدر  */

.header .header-details {
    position: absolute;
    top: 250px;
    font-size: 70px;
    font-weight: bold;
    font-family:sans-serif;
    margin-left: 30px;
} 
.header .details{
    position: absolute;
    top: 415px;
    color: #B1AAAA;
    font-family: sans-serif;
    font-weight: bold; 
    margin-left: 30px;
}  

/* هان الايميل   */ 
.header input[type="email"]{
    display: block;
    position: absolute;
    top: 520px;
    margin-left: 30px;
    border: solid 2px #EBEBEB; 
    border-radius: 100px; 
    width: 390px;
    height: 70px;
    font-size: 20px; 
    box-shadow: 0PX 12PX 15PX -10px #a8a8a8; 
    color: #B1AAAA; 

} 
.header input[type="email"]:focus{
    outline: none;
    border: solid 2px #525FFB;
    font-size: 20px; 
    color: #B1AAAA; 
}

.header input[type="email"]::placeholder{
    color: #B1AAAA;  
    
}    
.header input[type="submit"]{
    display: block;
    position: absolute;
    width: 225px;
    right: 840px;
    top: 520px;
    height: 74px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #525FFB;
    outline: none;
    border: none;
    border-radius: 100px;
    box-shadow: 0px 10px 20px -10px #525ffb;
    cursor: pointer;
}
 
 
/*  العنوان السكشن التاني */
.contain .first-title{ 
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 8px;
    text-transform: capitalize;
    font-family: sans-serif;
    margin-top: 200px;
} 
 
/*    اكواد الصور التلاتة    */ 

/*    كود الصورة الاولى    */ 
 
/*  هاد كود الخلفية الزرقة فقط  */
.contain .images-titles1 .background1{
    position: absolute;
    top: 1250px;
    left: 120px;
    width: 360px;
    height: 475px;
    background-color: #525FFB;
    border: none;
    border-radius: 11px;
} 

/*   كود الصورة   */

.contain .images-titles1 img{
    position: absolute;
    top: 1340px;
    left: 185px;
    width: 239px;
    height: 230px;
    transition: all 1s ease-in-out;
}
.contain .images-titles1 img:hover{
    transform: scale(1.2);
}
.contain .images-titles1 .title-div1{
    position: absolute;
    top: 1520px;
    left: 215px;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    text-align: center;
}  
.contain .images-titles1 .more-tiles1{
    position: absolute;
    top: 1620px;
    left: 140px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.contain .images-titles2 .background2 {
    position: absolute;
    top: 1400px;
    left: 620px;
    width: 360px;
    height: 475px;
    border: none;
    border-radius: 11px;
    background-color: #E9F0FF;
}

.contain .images-titles2 img {
    position: absolute;
    top: 1480px;
    left: 687px;
    width: 239px;
    height: 230px;
    transition: all 1s ease-in-out;
}  

.contain .images-titles2 img:hover{
    transform: scale(1.2);
}

.contain .images-titles2 .title-div2{
    position: absolute;
    top: 1680px;
    left: 704px;
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}
.contain .images-titles2 .more-tiles2{
    position: absolute;
    top: 1770px;
    left: 650px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    text-align: center;
}

.contain .images-titles3 .background3 {
    position: absolute;  
    top: 1250px;
    left: 1074px;
    width: 360px;
    height: 475px;
    border: none;
    border-radius: 11px;
    background-color: #FFE7AA;
}

.contain .images-titles3 img{
    position: absolute;
    top: 1340px;
    left: 1140px;
    width: 239px;
    height: 230px;
    transition: all 1s ease-in-out;
} 
.contain .images-titles3 img:hover{
    transform: scale(1.2);
}
.contain .images-titles3 .title-div3{
    position: absolute;
    top: 1520px;
    left: 1160px;
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

.contain .images-titles3 .more-tiles3{
    position: absolute;
    top: 1620px;
    left: 1105px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    text-align: center;
} 
/* امنهينا من الجزئية الصور   */

.describe img{
    position: absolute;
    top: 2360px;
    width: 726px;
    height: 454px; 
    margin-left: 30px;
}  

.describe .describe-title{
    float: right;
    margin-right: 40px;
    margin-top: 1244px;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
}
.describe .description{
    position: absolute;
    top: 2500px;
    left: 808px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    color: #B1AAAA;
    line-height: 30px;

} 

/*  السكشن الرابع  */
.section4 .section4-title{
    position: absolute;
    top: 3241px;
    margin-left: 100px;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
}
.section4 .section4-description{
    position: absolute;
    top: 3446px;
    margin-left: 100px;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    color: #B1AAAA;
    line-height: 30px;
}
.section4 .description{
    position: absolute;
    top: 3212px;
    left: 766px;
    width: 717px;
    height: 547px;
    transition: all 1s ease-in-out;
}
.section4 .description:hover{
    transform: translate(50px);
}
.section4 a .play-store{
    position: absolute;
    top: 3600px;
    left: 200px;
}

.section4 a .apple-store{
    position: absolute;
    top: 3610px;
    left: 130px;
}
.section4 .section4-first-title{
    position: absolute;
    top: 3915px;
    left: 300px;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
}
 
.section4 .person1{
    position: absolute;
    top: 4000px;
    right: 115px
}
.section4 .person2{
    position: absolute;
    top: 4430px;
    right: 115px
}
.section4 .person3{
    position: absolute;
    width: 60px;
    top: 4260px;
    right: 240px;
}
.section4 .person5{
    position: absolute;
    width: 60px;
    top: 4260px;
    left: 240px;
}

.section4 .person4{
    position: absolute;
    top: 4000px;
    left: 115px
}

.section4 .person6{
    position: absolute;
    top: 4430px;
    left: 115px;
    width: 100px;
    height: 100px;
}

.section4 .number{
    position: absolute;
    top: 4100px;
    left: 500px;
    font-size: 150px;
    font-family: sans-serif;
    color: #525FFB;
} 
.shadow{
    position: absolute;
    top: 4066px;
    left: 415px;
    width: 730px;
}

.section4 .last-title{
    position: absolute;
    top: 4700px;
    left: 450px;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
}

.section4 .last-title-description{
    position: absolute;
    top: 4790px;
    left: 415px;
    text-align: center;
    font-size: 27px;
    font-family: sans-serif;
    opacity: 0.8;
} 

.section4 .form input[type="email"]{
    display: block;
    position: absolute;
    top: 4920px;
    left: 400px;
    border: solid 2px #EBEBEB; 
    border-radius: 100px; 
    width: 390px;
    height: 70px;
    font-size: 20px; 
    box-shadow: 0PX 12PX 15PX -10px #a8a8a8; 
    color: #B1AAAA; 
    outline: none;
}

.section4 .form input[type="email"]:focus{
    outline: none;
    border: solid 2px #525FFB;
    font-size: 20px; 
    color: #B1AAAA; 
}

.section4 .form input[type="email"]::placeholder{
    color: #B1AAAA;  
}   

.section4 .form input[type="submit"]{
    display: block;
    position: absolute;
    width: 225px;
    right: 460px;
    top: 4920px;
    height: 74px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #525FFB;
    outline: none;
    border: none;
    border-radius: 100px;
    box-shadow: 0px 10px 20px -10px #525ffb;
    cursor: pointer;
}